@model IEnumerable<DatabaseService.Entities.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.Raw("Category Name")
        </th>
        <th>
            @Html.Raw("Image")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.ID)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @{var images = item.ProductImages.ToList();}
                @if (images.Any())
                {
                    string imageURL = images.First().PicURL.ToString();
                    <img src="@Url.Content(imageURL)" alt="Alternate Text" width="100" height="100" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.ActionLink("Detail", "Detail", new { id = item.ID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            </td>
        </tr>
    }

</table>
