@model DatabaseService.Entities.Order

@{
    ViewBag.Title = "Details";
}
@Html.ActionLink("Back to Order List", "Index")

<h2>Order Detail</h2>
<div>
    <hr />
    <h4>Order</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.Raw("Customer Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt>
            @Html.Raw("Phone")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Phone)
        </dd>
        <dt>
            @Html.Raw("Email")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @if (Model.Status == 1)
            {
                @Html.Raw("Đang chờ confirm")
            }
            else
            {
                @Html.Raw("Đã thanh toán")
            }

        </dd>
    </dl>
    <h4>Total amount: @string.Format("{0:0,0}", @ViewBag.TotalAmount) VND</h4>
</div>
<div>
    <hr />
    <h4>Order Detail</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Product Sku ID</th>
                <th>Image</th>
                <th>Product Name</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>UnitPrice</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderDetails)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductSkuID)
                    </td>
                    <td>
                        @{ string imageURL = item.ProductSku.Product.ProductImages.First().PicURL.ToString();}
                        <img src="@imageURL" alt="item.ProductSku.Product.Name" width="150" height="100"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductSku.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductSku.Size)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @string.Format("{0:0,0}", item.UnitPrice) VND
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
<p>
    @if (Model.Status == 1)
    {
        @Html.ActionLink("Confirm", "Edit", new { id = Model.ID })
    }
</p>
