@model IEnumerable<DatabaseService.Entities.ProductImage>

@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("Back to Product Detail", "Detail", "Products", new { id = ViewBag.ProductID }, null)
</p>

<h2>Product Image</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.ProductID })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicURL)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                <img src="@Url.Content(item.PicURL)" width="500" height="300" alt="Image" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
